<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./assets/Bootstrapt/css/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/scss/css/style.css">
    <title>@ViewBag.Title</title>
</head>
<body>
    
        <section id="top-bar">
            <div class="container">
                <div class="row">
                    <div class="menu d-flex justify-content-between align-items-center">
                        <div class="concat mt-2">
                            <ul class="d-flex">
                                <li><i class="fa-regular fa-envelope"></i>@layoutservice.GetDatas().Result.FirstOrDefault(e=>e.Key.ToLower().Trim() == "email").Value</li>
                                <li><i class="fa-solid fa-mobile-screen-button"></i>@layoutservice.GetDatas().Result.FirstOrDefault(e=>e.Key.ToLower().Trim() == "phone").Value</li>
                            </ul>
                        </div>
                        <div class="social-media mt-2">
                            <ul class="d-flex">
                                <li><a href = "@layoutservice.GetDatas().Result.FirstOrDefault(e=>e.Key.ToLower().Trim() == "facebook").IconURL"><i class="@layoutservice.GetDatas().Result.FirstOrDefault(e=>e.Key.ToLower().Trim() == "facebook").Value"></i></a></li>
                                <li><a href = "@layoutservice.GetDatas().Result.FirstOrDefault(e=>e.Key.ToLower().Trim() == "instagram").IconURL"><i class="@layoutservice.GetDatas().Result.FirstOrDefault(e=>e.Key.ToLower().Trim() == "instagram").Value"></i></a></li>
                                <li><a href = "@layoutservice.GetDatas().Result.FirstOrDefault(e=>e.Key.ToLower().Trim() == "twitter").IconURL"><i class="@layoutservice.GetDatas().Result.FirstOrDefault(e=>e.Key.ToLower().Trim() == "twitter").Value"></i></a></li>
                                <li class="me-5"><a href = "@layoutservice.GetDatas().Result.FirstOrDefault(e=>e.Key.ToLower().Trim() == "linkedin").IconURL"><i class="@layoutservice.GetDatas().Result.FirstOrDefault(e=>e.Key.ToLower().Trim() == "linkedin").Value"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <header>

            <section id="main-header">
                <div class="container">
                    <div class="row">
                        <nav>
                            <div class="services d-flex justify-content-between align-items-center">
                                <div class="logo mt-3">
                                    <div class="oran">
                                        <span class="ms-3 mt-2">ETERNA</span>
                                    </div>
                                    
                                </div>
                
                                <div class="home mt-4">
                                    <ul class="d-flex">
                                        <li>Home</li>
                                        <li>About</li>
                                        <li>Services</li>
                                        <li>Portfolio</li>
                                        <li>Team</li>
                                        <li>Pricing</li>
                                        <li>Blog</li>
                                        <li>Drop Down <i class="fa-solid fa-angle-down"></i>
                                    </li>
                                        <li class="me-5">Contact</li>
                                        <li ><i class="fa-solid"></i></li>
                                       
                                    </ul>
                                    
                                    
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </section>
    
    </header>
      
    <section id="last-head">
        <div class="container">
            <div class="row">
                <div class="home-service d-flex align-items-center">
                    <div class="serv mt-2">
                      <p>Home   /   Service</p>
                      <h3>Services</h3>
                    </div>
                  </div>
            </div>
        </div>
       
    </section>
        @RenderBody()
    <footer>
        <section id="last">
           <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12 mt-5">
                    <h4>USEFUL LINKS</h4>
                    <ul>
                        <li><i class="fa-solid fa-angle-right"></i>Home</li>
                        <li><i class="fa-solid fa-angle-right"></i>About Us</li>
                        <li><i class="fa-solid fa-angle-right"></i>Services</li>
                        <li><i class="fa-solid fa-angle-right"></i>Terms of service</li>
                        <li><i class="fa-solid fa-angle-right"></i>Privacy policy</li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 mt-5">
                    <h4>OUR SERVICES</h4>
                    <ul>
                        <li ><i class="fa-solid fa-angle-right"></i>Web Design</li>
                        <li><i class="fa-solid fa-angle-right"></i>
                            Web Development</li>
                        <li><i class="fa-solid fa-angle-right"></i>
                            Product Management</li>
                        <li><i class="fa-solid fa-angle-right"></i>
                            Marketing</li>
                        <li><i class="fa-solid fa-angle-right"></i>
                            Graphic Design</li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 mt-5">
                    <h4>CONTACT US</h4>
                    <ul>
                        <li >A108 Adam Street</li>
                        <li>
                            New York, NY 535022</li>
                        <li>
                            United States</li>
                        <li>
                            @layoutservice.GetDatas().Result.FirstOrDefault(e=>e.Key.ToLower().Trim() == "email").Value</li>
                        <li>@layoutservice.GetDatas().Result.FirstOrDefault(e=>e.Key.ToLower().Trim() == "phone").Value</li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 mt-5">
                    <h4>About Eterna</h4>
                   <p>Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada terra videa magna derita valies darta donna mare fermentum iaculis eu non diam phasellus.</p>

                  <div class="social">
                    <ul class="d-flex">
                        <li><a href = "@layoutservice.GetDatas().Result.FirstOrDefault(e=>e.Key.ToLower().Trim() == "facebook").IconURL"><i class="@layoutservice.GetDatas().Result.FirstOrDefault(e=>e.Key.ToLower().Trim() == "facebook").Value"></i></a></li>
                        <li><a href = "@layoutservice.GetDatas().Result.FirstOrDefault(e=>e.Key.ToLower().Trim() == "skype").IconURL"><i class="@layoutservice.GetDatas().Result.FirstOrDefault(e=>e.Key.ToLower().Trim() == "skype").Value"></i></a></li>
                        <li><a href = "@layoutservice.GetDatas().Result.FirstOrDefault(e=>e.Key.ToLower().Trim() == "instagram").IconURL"><i class="@layoutservice.GetDatas().Result.FirstOrDefault(e=>e.Key.ToLower().Trim() == "instagram").Value"></i></a></li>
                        <li><a href = "@layoutservice.GetDatas().Result.FirstOrDefault(e=>e.Key.ToLower().Trim() == "linkedin").IconURL"><i class="@layoutservice.GetDatas().Result.FirstOrDefault(e=>e.Key.ToLower().Trim() == "linkedin").Value"></i></a></li>
                        <li><a href = "@layoutservice.GetDatas().Result.FirstOrDefault(e=>e.Key.ToLower().Trim() == "twitter").IconURL"><i class="@layoutservice.GetDatas().Result.FirstOrDefault(e=>e.Key.ToLower().Trim() == "twitter").Value"></i></a></li>
                       </ul>
                  </div>
                </div>
            </div>
           </div>
        </section>
          
        <section id="copyright">
            <div class="container">
                <div class="row">
                    <div class="text mt-5">
                        <p>© Copyright <strong>Eterna</strong>. All Rights Reserved</p>
                        <p>Designed by <span>Bakhshali Nazarov</span></p>
                    </div>
                </div>
            </div>
        </section>
        
    </footer>
    <script src="./assets/js/script.js"></script>
</body>
</html>
